# node-postgres configuration
PGUSER=<postgres user>
PGHOST=<postgres host>
PGPASSWORD=<postgres password>
PGDATABASE=<postgres database>
PGPORT=<postgres port>

# message broker rabbitmq
RABBITMQ_SERVER=<rabbitmq server host>

# nodemailer SMTP authentication
MAIL_ADDRESS=<email gmail address>
MAIL_PASSWORD=<email gmail password>